.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 4rem 10rem;
  width: 100%;
  height: 12rem;
  font-weight: 700;
  z-index: 120 !important;
  background-color: white;

  @media screen and (max-width: $bp-small) {
    padding: 2rem 2rem 2rem 5rem;
    height: 7.5rem;
  }

  &__logo {
    color: $black;
    font-size: 4rem;
    text-decoration: none;
    @media screen and (max-width: $bp-small) {
      font-size: 2.5rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28%;
    list-style: none;
    align-items: right;
    padding-top: 1.5rem;
    @media screen and (max-width: $bp-small) {
      width: 35%;
      font-size: 1rem;
      padding: 1rem;
    }

    &-item3 {
      @media screen and (max-width: $bp-small) {
        display: none;
      }
    }
    &-link {
      color: $gray-2;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 600;
    }

    &-link:hover {
      color: $black;
    }
  }
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    margin-top: 18.125rem;
    @media screen and (max-width: $bp-small) {
      margin-top: 16rem;
    }

    & img {
      width: 7%;
      border-radius: 90%;
      margin-bottom: 4rem;
      @media screen and (max-width: $bp-small) {
        margin-bottom: 2rem;
      }
    }

    & span {
      font-weight: 400;
      font-size: 2.2rem;
      margin-bottom: 4rem;
      @media screen and (max-width: $bp-small) {
        font-size: 1.7rem;
        margin-bottom: 2rem;
      }
    }

    & p {
      font-weight: 500;
      font-size: 2.4rem;
      width: 50%;
      @media screen and (max-width: $bp-small) {
        font-size: 1.6rem;
        width: 82%;
      }
    }
  }

  &__projects {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    margin-top: 16rem !important;
    margin: auto;

    @media screen and (max-width: $bp-small) {
      margin-top: 8rem !important;
    }

    &-listitem {
      width: 48rem;
      height: 30rem;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease-out;
      background: radial-gradient(#111 50%, #000 100%) !important;

      @media screen and (max-width: $bp-small) {
        width: 40rem;
        height: 27rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.3s ease-out;
        @media screen and (max-width: $bp-small) {
          width: 100%;
          height: 27rem;
        }
      }

      &--content {
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        text-align: start !important;

        h1 {
          font-size: 2.6rem;
          font-weight: 500;
          color: white;
          opacity: 0;
          transform: translateY(30px);
          transition: all 0.3s ease-out;
          @media screen and (max-width: $bp-small) {
            font-size: 2rem;
          }
        }

        p {
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: uppercase;
          color: $gray-4;
          opacity: 0;
          transform: translateY(30px);
          transition: all 0.3s ease-out 0.1s;
          @media screen and (max-width: $bp-small) {
            font-size: 1.2rem;
          }
        }

        &-divider {
          width: 4rem;
          height: 0.6rem;
          border-radius: 0 !important;
          border: 0 !important;
          background-color: $main-color !important;
          margin: 1.3rem 0rem;
          opacity: 0;
          transform: translateY(30px);
          transition: all 0.3s ease-out 0.1s;
          @media screen and (max-width: $bp-small) {
            width: 3rem;
            height: 0.5rem;
          }
        }
      }

      &:hover &--content {
        h1,
        p,
        &-divider {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      &:hover img {
        transform: scale(1.1) translateY(0px);
        opacity: 0.3;
      }
    }
  }

  &__clients {
    display: flex;
    flex-direction: column;
    margin-top: 24rem;
    width: 100%;
    @media screen and (max-width: $bp-small) {
      margin-top: 15rem;
    }

    & h1 {
      font-size: 4.5rem;
      @media screen and (max-width: $bp-small) {
        font-size: 3rem;
      }
    }

    &-logos {
      margin-top: 10rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: $bp-small) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
      }

      #logo1 {
        width: 20rem;
      }
      #logo2 {
        width: 12rem;
      }
      #logo3 {
        width: 15% !important;
        height: 15% !important;
        width: auto;
        @media screen and (max-width: $bp-small) {
          width: 24% !important;
          height: 24% !important;
        }
      }
      #logo4 {
        width: 20rem;
      }
    }
  }

  &__testimonials {
    display: flex;
    flex-direction: column;
    margin-top: 16.75rem;
    margin-bottom: 15rem;

    @media screen and (max-width: $bp-small) {
      margin-top: 12rem;
      margin-bottom: 10rem;
    }

    & h1 {
      font-size: 5rem;
      width: 65rem;
      font-weight: 600;
      @media screen and (max-width: $bp-small) {
        width: 35rem;
        font-size: 2.6rem;
        text-align: center;
      }
    }

    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 9.25rem;
      @media screen and (max-width: $bp-small) {
        flex-direction: column;
      }
    }

    & img {
      margin-right: 16rem;
      @media screen and (max-width: $bp-small) {
        width: 30rem;
        margin: auto;
      }
    }
    &-body {
      width: 85rem;
      margin-top: 7rem;
      @media screen and (max-width: $bp-small) {
        width: 100%;
        text-align: center;
      }

      & > span {
        color: $black;
        font-size: 4rem;
        font-weight: 600;
        @media screen and (max-width: $bp-small) {
          font-size: 2rem;
        }
      }

      & > p {
        margin-top: 6rem;
        font-size: 2rem;
        color: $gray-3;
        line-height: 4rem;
        @media screen and (max-width: $bp-small) {
          margin-top: 2.5rem;
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }

      &--person {
        margin-top: 8rem;
        @media screen and (max-width: $bp-small) {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          text-align: center;
        }

        &-name {
          font-size: 2rem;
          color: $black;
          @media screen and (max-width: $bp-small) {
            font-size: 1.7rem;
          }
        }

        &-position {
          font-size: 2rem;
          color: $gray-4;
          margin-left: 3rem;
          @media screen and (max-width: $bp-small) {
            font-size: 1.5rem;
            margin: 1rem auto;
          }
        }
      }
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 11rem;

  &__personalinfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-top: 9.25rem;
    @media screen and (max-width: $bp-small) {
      flex-direction: column;
      margin-top: 11rem;
      align-items: center;
    }

    & img {
      width: 48rem;
      @media screen and (max-width: $bp-small) {
        width: 34rem;
      }
    }

    &-body {
      margin-top: 4rem;
      width: 60%;
      @media screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      & span {
        font-size: 6rem;
        font-weight: 700;
        color: $gray-1;
        @media screen and (max-width: $bp-small) {
          font-size: 3rem;
          text-align: center;
        }
      }
      &--paragraph1 {
        margin-top: 3rem;
        font-size: 6rem;
        @media screen and (max-width: $bp-small) {
          font-size: 3.2rem;
          margin-top: 1rem;
          text-align: center;
        }
      }

      &--paragraph2 {
        margin-top: 4rem;
        font-size: 2.3rem;
        color: $black;
        font-weight: 500;
        width: 85%;
        @media screen and (max-width: $bp-small) {
          margin-top: 2rem;
          font-size: 1.6rem;
          width: 85%;
          text-align: center;
        }
      }
      &--paragraph3 {
        margin-top: 4rem;
        font-size: 1.7rem;
        line-height: 4rem;
        font-weight: 400 !important;
        color: $gray-3;
        width: 85%;
        @media screen and (max-width: $bp-small) {
          margin-top: 2rem;
          font-size: 1.2rem;
          line-height: 2.5rem;
          width: 90%;
          text-align: center;
        }
      }
    }
  }

  &__topics2 {
    margin-top: 8rem !important;
    display: flex !important;
    flex-direction: row !important;
  }

  &__topics {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    width: 85%;

    &-diviser {
      width: 85%;
      background-color: $main-color !important;
      height: 0.2rem;
      border-radius: 0rem !important;
      border: 0rem !important;
      margin-top: 16rem;
      @media screen and (max-width: $bp-small) {
        margin-top: 8rem;
      }
    }

    &--topiccontent {
      width: 22%;
      margin-bottom: 6rem;
      @media screen and (max-width: $bp-small) {
        margin-bottom: 3rem;
        width: 50%;
      }

      & h1 {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px !important;
        @media screen and (max-width: $bp-small) {
          font-size: 1rem;
          letter-spacing: 2px !important;
        }
      }

      &-diviser {
        width: 2.5rem;
        height: 0.4rem;
        background-color: $main-color !important;
        border-radius: 0rem !important;
        border: 0rem !important;
        margin: 1.7rem 0rem;

        @media screen and (max-width: $bp-small) {
          width: 2rem;
          height: 0.3rem;
        }
      }

      & span {
        font-size: 1.5rem;
        color: $gray-3;
        font-weight: 600;
        @media screen and (max-width: $bp-small) {
          font-size: 1rem;
        }
      }
      & p {
        font-size: 1.5rem;
        color: $gray-3;
        margin-top: 0.3rem;
        @media screen and (max-width: $bp-small) {
          font-size: 1rem;
        }
      }
    }
  }

  &__semifooter {
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 85%;
      margin-top: 4rem;
      margin-bottom: 16rem;
      @media screen and (max-width: $bp-small) {
        margin-bottom: 10rem;
        flex-direction: column;
      }

      & Button {
        width: 22rem;
        height: 5rem;
        font-size: 1.7rem;
        background-color: $main-color;
        border-radius: 0rem;
        text-transform: uppercase;
        border: 0rem !important;

        &:hover {
          background-color: $main-color-hover;
        }

        &:active {
          background-color: $main-color-click;
        }
      }

      &spec {
        display: flex;
        flex-direction: row;
      }
    }
    &-diviser {
      width: 85%;
      background-color: $main-color !important;
      height: 0.4rem;
      border-radius: 0rem !important;
      border: 0rem !important;
      margin-top: 6rem;
      @media screen and (max-width: $bp-small) {
        height: 0.3rem;
        margin-top: 4rem;
      }
    }

    &-element {
      display: flex;
      flex-direction: column;
      margin-right: 18rem;
      @media screen and (max-width: $bp-small) {
        margin-right: 8rem;
      }
      & h1 {
        font-size: 2.4rem;
        font-weight: 600;
        @media screen and (max-width: $bp-small) {
          font-size: 1.8rem;
        }
      }

      & span {
        font-size: 1.8rem;
        font-weight: 600;
        color: $gray-4;
        margin-top: 1.2rem !important;
        @media screen and (max-width: $bp-small) {
          font-size: 1.2rem;
        }

        &:hover {
          color: $main-color;
        }
      }

      & a {
        text-decoration: none;
        margin-top: 1.2rem !important;
      }
    }
  }
}

.projectdetails {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  &__pageform {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__quote {
    padding: 10rem 0rem;
    text-align: center;
    @media screen and (max-width: $bp-small) {
      padding: 5rem 0rem;
    }

    svg {
      @media screen and (max-width: $bp-small) {
        width: 17% !important;
      }
    }

    p {
      margin: 5rem 1rem;
      font-size: 2.5rem;
      text-align: center;
      color: $black;
      @media screen and (max-width: $bp-small) {
        margin: 3rem 1rem;
        font-size: 1.4rem;
      }
    }

    span {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.5rem !important;
      color: $gray-3;
      @media screen and (max-width: $bp-small) {
        font-size: 1.3rem;
        letter-spacing: 0.25rem !important;
      }
    }
  }

  &__topics {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
    @media screen and (max-width: $bp-small) {
      margin-top: 3rem;
    }
  }

  &__header {
    &-role {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
      color: $gray-3;
      @media screen and (max-width: $bp-small) {
        font-size: 1.5rem;
      }
    }

    &-title {
      font-size: 8rem;
      font-weight: 700;
      color: $gray-1;
      width: 50%;
      @media screen and (max-width: $bp-small) {
        font-size: 5rem;
        width: 90%;
      }
    }

    &-subtitle {
      font-size: 3rem;
      font-weight: 500;
      color: $black;
      width: 65%;
      @media screen and (max-width: $bp-small) {
        font-size: 2rem;
        width: 100%;
      }
    }

    &-description {
      font-size: 1.5rem;
      font-weight: 400;
      color: $gray-3;
      width: 65%;
      margin-top: 1.4rem;
      line-height: 2.2rem;
      @media screen and (max-width: $bp-small) {
        font-size: 1.2rem;
        width: 100%;
        line-height: 2rem;
      }
    }
  }

  &__content {
    width: 70%;
    margin-top: 22rem;

    & img {
      width: 100%;
      margin-top: 6rem;
      // height: 600px;
    }

    &details {
      margin-top: 3rem;
      &--number {
        font-size: 8rem;
        font-weight: 700;
        color: $gray-1;
        @media screen and (max-width: $bp-small) {
          font-size: 6rem;
        }
      }

      & h1 {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $gray-3;
        letter-spacing: 4px;
        font-weight: 600;
        @media screen and (max-width: $bp-small) {
          font-size: 1.2rem;
          letter-spacing: 2.5px;
        }
      }

      & h2 {
        font-size: 2.8rem;
        color: $black;
        font-weight: 500;
        @media screen and (max-width: $bp-small) {
          font-size: 2.4rem;
        }
      }

      &--paragraph {
        font-size: 1.5rem;
        color: $black;
        width: 70%;
        @media screen and (max-width: $bp-small) {
          font-size: 1.2rem;
          width: 100%;
        }
      }
      & img {
        margin-bottom: 4rem !important;
        @media screen and (max-width: $bp-small) {
          margin-top: 2rem;
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  @media screen and (max-width: $bp-small) {
    padding: 1.2rem 2rem;
  }

  & span {
    font-size: 12px;
    color: $gray-3;
    @media screen and (max-width: $bp-small) {
      font-size: 1rem;
    }
  }
  p {
    font-size: 12px;
    color: $gray-3;
    @media screen and (max-width: $bp-small) {
      font-size: 1rem;
      margin: auto;
    }
  }

  &-socialmedia {
    margin: auto 2rem;
    @media screen and (max-width: $bp-small) {
      display: flex;
      flex-direction: row;
      margin: auto;
    }
    & img {
      margin-left: 1.5rem;
      width: 2.3rem;
      @media screen and (max-width: $bp-small) {
        margin-left: 1.5rem;
        width: 1.8rem;
      }
    }
  }
}

#beforetitle {
  margin-bottom: 0rem;
}

.mycv {
  width: 20rem;
  height: 5rem;
  text-align: center;
  display: inline-block;
  background: $main-color;
  color: #fff;
  font-size: 1.4rem;
  line-height: 5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
  @media screen and (max-width: $bp-small) {
    width: 16rem;
    height: 4rem;
    background: $main-color;
    color: #fff;
    line-height: 4rem;
    font-weight: 500;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 4rem;
  }

  &:hover {
    background: $main-color-hover;
    color: white;
  }

  &:active {
    color: white;
    background-color: $main-color-click;
  }
}
