.work {
  &__header {
    font-family: $font-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18.125rem;

    & img {
      width: 7%;
      border-radius: 90%;
      margin-bottom: 3rem;
    }

    & span {
      font-weight: 400;
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }

    & p {
      font-weight: 500;
      font-size: 2.4rem;
      text-align: center;
      width: 50%;
    }
  }

  &__projects {
    margin-top: 7.5rem;
    text-align: center;
    & img {
      width: 48rem;
    }
  }

  &__clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24rem;

    & h1 {
      font-size: 4.5rem;
    }

    &-logos {
      margin-top: 9rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
      & img {
        width: 12rem;
      }
    }
  }

  &__testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16.75rem;
    margin-bottom: 15rem;
    & h1 {
      font-size: 5rem;
      width: 45rem;
      font-weight: 600;
    }

    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      margin-top: 9.25rem;
    }
    &-body {
      width: 85rem;
      margin-top: 7rem;

      & > span {
        color: $black;
        font-size: 4rem;
        font-weight: 600;
      }

      & > p {
        margin-top: 6rem;
        font-size: 2rem;
        color: $gray-3;
        line-height: 4rem;
      }

      &--person {
        margin-top: 8rem;

        &-name {
          font-size: 2rem;
          color: $black;
        }

        &-position {
          font-size: 2rem;
          color: $gray-4;
          margin-left: 3rem;
        }
      }
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11rem;

  &__personalinfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-top: 9.25rem;

    & img {
      width: 48rem;
    }

    &-body {
      margin-top: 4rem;
      width: 60%;

      & span {
        font-size: 6rem;
        font-weight: 700;
        color: $gray-1;
      }
      &--paragraph1 {
        margin-top: 3rem;
        font-size: 6rem;
      }
      &--paragraph2 {
        margin-top: 4rem;
        font-size: 2.3rem;
        color: $black;
        font-weight: 500;
        width: 85%;
      }
      &--paragraph3 {
        margin-top: 4rem;
        font-size: 1.7rem;
        line-height: 4rem;
        font-weight: 400 !important;
        color: $gray-3;
        width: 85%;
      }
    }
  }

  &__topics2 {
    margin-top: 8rem !important;
    display: flex !important;
    flex-direction: row !important;
  }

  &__topics {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;

    &-diviser {
      width: 85%;
      background-color: $main-color !important;
      height: 0.2rem;
      border-radius: 0rem !important;
      border: 0rem !important;
      margin-top: 16rem;
    }

    &--topiccontent {
      width: 22%;
      & h1 {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px !important;
      }

      &-diviser {
        width: 2.5rem;
        height: 0.4rem;
        background-color: $main-color !important;
        border-radius: 0rem !important;
        border: 0rem !important;
        margin: 1.7rem 0rem;
      }

      & span {
        font-size: 1.5rem;
        color: $gray-3;
        font-weight: 600;
      }
      & p {
        font-size: 1.5rem;
        color: $gray-3;
        margin-top: 0.3rem;
      }
    }
  }

  &__semifooter {
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 85%;
      margin-top: 4rem;
      margin-bottom: 16rem;

      & Button {
        width: 22rem;
        height: 5rem;
        font-size: 1.7rem;
        background-color: $main-color;
        border-radius: 0rem;
        text-transform: uppercase;
        border: 0rem !important;

        &:hover {
          background-color: $main-color-hover;
        }

        &:active {
          background-color: $main-color-click;
        }
      }

      &spec {
        display: flex;
        flex-direction: row;
      }
    }
    &-diviser {
      width: 85%;
      background-color: $main-color !important;
      height: 0.4rem;
      border-radius: 0rem !important;
      border: 0rem !important;
      margin-top: 6rem;
    }

    &-element {
      display: flex;
      flex-direction: column;
      margin-right: 18rem;
      & h1 {
        font-size: 2.4rem;
        font-weight: 600;
      }

      & span {
        font-size: 1.8rem;
        font-weight: 600;
        color: $gray-4;
        margin-top: 1.2rem !important;

        &:hover {
          color: $main-color;
        }
      }

      & a {
        text-decoration: none;
        margin-top: 1.2rem !important;
      }
    }
  }
}

.projectdetails {
  &__pageform {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__topics {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__header {
    &-role {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
      color: $gray-3;
    }

    &-title {
      font-size: 8rem;
      font-weight: 700;
      color: $gray-1;
      width: 60%;
    }

    &-subtitle {
      font-size: 3rem;
      font-weight: 500;
      color: $black;
      width: 65%;
    }

    &-description {
      font-size: 1.5rem;
      font-weight: 400;
      color: $gray-3;
      width: 65%;
      margin-top: 1.4rem;
      line-height: 2.2rem;
    }
  }

  &__content {
    width: 70%;
    margin-top: 22rem;

    & img {
      width: 100%;
      margin-top: 6rem;
      // height: 600px;
    }

    &details {
      &--number {
        font-size: 8rem;
        font-weight: 700;
        color: $gray-1;
      }

      & h1 {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $gray-3;
        letter-spacing: 4px;
        font-weight: 600;
      }

      & h2 {
        font-size: 2.8rem;
        color: $black;
        font-weight: 500;
      }

      &--paragraph {
        font-size: 1.5rem;
        color: $black;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.75rem 5rem;
  // box-shadow: 0rem -4px 6px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;

  & span,
  p {
    font-size: 12px;
    color: $gray-3;
  }

  position: fixed;
  bottom: 0;
  width: 100%;

  &-socialmedia {
    & img {
      margin-left: 1.5rem;
      width: 2.3rem;
    }
  }
}
