// COLOR VARIABLES
$main-color: #5b63f6;
$main-color-hover: #4a53ee;
$main-color-click: #2A34EB;
$black: #252525 !important;
$gray-1: #d9e6ed;
$gray-2: #dedede;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #4f4f4f;

// FONT VARIABLES
$font-primary: "poppins";

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
